.DS_Store
myenv/
frontend/survey-spa/dist
backend/myenv/
backend/backend/survey.db
survey.db
myenv
npm-debug.log*
survey.db
*.pyc
__pycache__/
node_modules/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
