.DS_Store
myenv/
frontend/survey-spa/dist
backend/myenv/
backend/backend/survey.db
myenv
npm-debug.log*
survey.db
*.pyc
backend/backend/surveyapi/__pycache__/
__pycache__/
node_modules/

.idea
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
